.card {
  flex: 0 0 calc((100% / 6) - 10px);
  
  min-height: 300px;
  padding: 5px;
  
}

.rating {
  display: flex;
  align-items: center;
  height: 30px;
}

.cartBut {
  padding: 7px 14px;
  background-color: #86AB89;
  border: none;
  border-radius: 20px;
}

.cartBut:hover {
  background-color: #A28B55;
}

.card > img {
  width: 100%;
  height: auto;
  object-fit: cover;
}

.card > h3{
  margin-top: 5px;
  margin-bottom: 0px;
}

.numBought {
  margin-top: -5px;
  font-size: 0.7em;
  color: #86AB89;
}
@media screen and (max-width: 1500px) {
  .card {
    flex: 0 0 calc(20% - 10px);
    
  }
}

@media screen and (max-width: 1000px) {
  .card {
    flex: 0 0 calc(25% - 10px);
    
  }
}

@media screen and (max-width: 768px) {
  .card {
    flex-basis: 33%;
    max-width: 156px;
  }
}
