.conSec {
  width: 100%;
  min-height: calc(100dvh - 70px);
  border: 1px solid #CBE2B5;
}
.conSec > h1{
  font-size: 1.3em;
}

.conSec > .cardStorage {
  display: flex;
  flex-wrap: wrap;
}

@media screen and (max-width: 768px) {
  .conSec {
    min-width: 768px;
    overflow-x: scroll;
  }
}





