.conSec {
  width: 100%;
  min-height: calc(100dvh - 70px);
}
.conSec > h1{
  font-size: 1.3em;
}

.conSec > .cardStorage {
  display: flex;
  flex-wrap: wrap;
}

.conSec > h1 {
  margin-left: 5px;
  margin-bottom: 0px;
}
.conSec > p {
  margin-top: 0px;
  margin-left: 5px;
  padding-bottom: 5px;
}
@media screen and (max-width: 768px) {
  .conSec {
    min-width: 768px;
    overflow-x: scroll;
  }
}





